@model TravelApp.ViewModel.UserView
@using TravelApp.Models;

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}
<link href="~/Css/HomePage.css" rel="stylesheet" />

<div class="choose_flight">
    <div>
        <div class="card mx-auto" style="width: 80%;">
            <div class="card-header">
                Just pick a destination
            </div>
            <div class="card-body">
                <div class="card-title row">
                    <form action="/Home/HomePage" method="post" class="col-auto">
                        <input type="submit" name="flyOption" value="One-way" class="btn btn-primary" />
                    </form>
                    <form action="/Home/HomePage" method="post" class="col-auto">
                        <input type="submit" name="flyOption" value="Two-way" class="btn btn-primary" />
                    </form>
                </div>
                @if (ViewBag.flyOption == "Two-way")
                {
                    <form class="row gy-2 gx-3 align-items-center" action="TwoDirectionFly" method="post">
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">From</label>
                            <div class="input-group">
                                <div class="input-group-text">From</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Israel" name="fromC">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">To</label>
                            <div class="input-group">
                                <div class="input-group-text">To</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="USA" name="toC">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">Departure</label>
                            <div class="input-group">
                                <div class="input-group-text">Departure</div>
                                <input type="datetime-local" class="form-control" id="autoSizingInputGroup" value="Anytime" name="sdate">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">Return</label>
                            <div class="input-group">
                                <div class="input-group-text">Return</div>
                                <input type="datetime-local" class="form-control" id="autoSizingInputGroup" placeholder="Anytime" name="edate">
                            </div>
                        </div>
                        <div class="col-auto p-lg-3">
                            <button type="submit" class="btn btn-primary">Find a fly!</button>
                        </div>
                    </form>
                }
                else
                {
                    <form class="row gy-2 gx-3 align-items-center" action="OneDirectionFly" method="post">
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">From</label>
                            <div class="input-group">
                                <div class="input-group-text">From</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Israel" name="fromC">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">To</label>
                            <div class="input-group">
                                <div class="input-group-text">To</div>
                                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="USA" name="toC">
                            </div>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">Departure</label>
                            <div class="input-group">
                                <div class="input-group-text">Departure</div>
                                <input type="datetime-local" class="form-control" id="autoSizingInputGroup" value="Anytime" name="date" required>
                            </div>
                        </div>
                        <div class="col-auto p-lg-3">
                            <button type="submit" class="btn btn-primary">Find a fly!</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>


<div class="popular_flights">
    <div class="container">
        @if (ViewBag.payment != null)
        {
            <div class="text-success">@ViewBag.payment</div>
        }
        @if (Model.flights != null)
        {
            <h3>All Flights</h3>
            <div class="row">
                @foreach (Flight flight in Model.flights)
                {
                    <div class="col-sm-3 m-1">
                        <div class="card p-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">From @flight.FromCountry to @flight.ToCountry</h5>
                                <p class="card-text">Date: @flight.Date</p>
                                <p class="card-text">Price: @flight.Price</p>
                                <p class="card-text">Avialibale seats: @flight.Seats</p>
                                @if (Model.user != null && Model.user.FirstName != null && flight.Date >= DateTime.UtcNow)
                                {
                                    <a href="@Url.Content("~/addOneWayFlight/")@flight.Id" class="btn btn-primary">Add a Flight</a>
                                }
                                @if (flight.Date < DateTime.UtcNow)
                                {
                                    <p class="text-danger">The flight has been departed!</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <hr />
    </div>
</div>

<div class="popular_flights">
    <div class="container">
        @if (Model.oneWay != null)
        {
            <h3>One-way flights</h3>
            <div class="row">
                @foreach (Flight flight in Model.oneWay)
                {
                    <div class="col-sm-3 m-1">
                        <div class="card p-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">From @flight.FromCountry to @flight.ToCountry</h5>
                                <p class="card-text">Date: @flight.Date</p>
                                <p class="card-text">Price: @flight.Price</p>
                                <p class="card-text">Avialibale seats: @flight.Seats</p>
                                @if (Model.user != null && Model.user.FirstName != null && flight.Date >= DateTime.UtcNow)
                                {
                                    <a href="@Url.Content("~/addOneWayFlight/")@flight.Id" class="btn btn-primary">Add a Flight</a>
                                }
                                @if (flight.Date < DateTime.UtcNow)
                                {
                                    <p class="text-danger">The flight has been departed!</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<div class="popular_flights">
    <div class="container">
        @if (Model.twoWay != null)
        {
            <h3>Two-way flights</h3>
            <div class="row">
                @for (int i = 0; i < Model.twoWay.Count; i += 2)
                {
                    <div class="col-sm-3 m-1">
                        <div class="card p-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">From @Model.twoWay[i].FromCountry to @Model.twoWay[i].ToCountry</h5>
                                <p class="card-text">Date: @Model.twoWay[i].Date</p>
                                <p class="card-text">Price: @Model.twoWay[i].Price</p>
                                <p class="card-text">Avialibale seats: @Model.twoWay[i].Seats</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">From @Model.twoWay[i + 1].FromCountry to @Model.twoWay[i + 1].ToCountry</h5>
                                <p class="card-text">Date: @Model.twoWay[i + 1].Date</p>
                                <p class="card-text">Price: @Model.twoWay[i + 1].Price</p>
                                <p class="card-text">Avialibale seats: @Model.twoWay[i + 1].Seats</p>
                                @if (Model.user != null && Model.user.FirstName != null && Model.twoWay[i].Date >= DateTime.UtcNow)
                                {
                                    <a href="@Url.Content("~/addTwoWayFlight/" + @Model.twoWay[i].Id + "/" + @Model.twoWay[i+1].Id)" class="btn btn-primary">Add a Flight</a>
                                }
                                @if (Model.twoWay[i].Date < DateTime.UtcNow)
                                {
                                    <p class="text-danger">The flight has been departed!</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>


