@{
    ViewBag.Title = "newPassword";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<div class="container">
    <h2 class="m-4">Reset Password</h2>
    @if (ViewBag.ChangedPassword != null)
    {
        <h6 class="text-success">@ViewBag.ChangedPassword</h6>
    }
    @if (Session["HideEmail"] == null)
    {
        <form class="row g-3 mx-auto" action="confirmUserEmail" method="post">
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">Password</label>
                <input type="email" class="form-control" id="inputPassword2" placeholder="Email" name="email">
                @if (ViewBag.wrongEmail != null)
                {
                    <h6 class="text-danger">@ViewBag.wrongEmail</h6>
                }
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
        </form>
    }

    @if (ViewBag.rightEmail != null)
    {
        <h6 class="text-success">@ViewBag.rightEmail</h6>
    }
    @if (Session["Secret"] != null)
    {
        <form class="row g-3 mx-auto" action="confirmSecret" method="post">
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">Secret Code</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Secret Code" name="secret">
                @if (ViewBag.wrongSecret != null)
                {
                    <h6 class="text-danger">@ViewBag.wrongSecret</h6>
                }
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Send a Code</button>
            </div>
        </form>
    }

    @if (ViewBag.RightSecret != null)
    {
        <h6 class="text-success">@ViewBag.rightSecret</h6>
        <form class="row g-3 mx-auto" action="confirmPassword" method="post">
            <div class="col-auto">
                <label for="inputPassword2" class="visually-hidden">New Password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="password">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Change</button>
            </div>
        </form>
    }
</div>

