@model TravelApp.ViewModel.AdminView
@using TravelApp.Models

@{
    ViewBag.Title = "Admin Sign Up";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}
<div class="container">
    <h3>New Admin SignUp</h3>
    <form action="AdminPanel" method="post" class="form-control m-md-4">
        <div class="mb-3">
            <label for="admin_username" class="form-label">Username</label>
            <input type="text" class="form-control" id="admin_username" name="admin.Username" value="@Model.admin.Username">
            <div class="form-text">@Html.ValidationMessageFor(x => x.admin.Username)</div>
        </div>

        <div class="mb-3">
            <label for="admin_password" class="form-label">Password</label>
            <input type="password" class="form-control" id="admin_password" name="admin.Password" value="@Model.admin.Password">
            <div class="form-text">@Html.ValidationMessageFor(x => x.admin.Password)</div>
        </div>

        <div class="mb-3">
            <label for="admin_email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="admin_email" aria-describedby="emailHelp" name="admin.Email" value="@Model.admin.Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div class="form-text">@Html.ValidationMessageFor(x => x.admin.Email)</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="admin_phone">Phone number</label>
            <input type="text" name="admin.Phone" value="@Model.admin.Phone" id="admin_phone" class="form-control" />
            <div class="form-text">@Html.ValidationMessageFor(x => x.admin.Phone)</div>
        </div>

        <button type="submit" class="btn btn-primary">SignUp</button>
    </form>
</div>

