@model TravelApp.ViewModel.AdminView
@using TravelApp.Models

@{
    ViewBag.Title = "Admin Sign Up";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<h2>newAdmin</h2>

<form action="submitAdmin" method="post">
    Enter username:
    <input type="text" name="admin.Username" value="@Model.admin.Username" /> @Html.ValidationMessageFor(x => x.admin.Username) <br />
    Enter password:
    <input type="password" name="admin.Password" value="@Model.admin.Password" /> @Html.ValidationMessageFor(x => x.admin.Password) <br />
    Enter email:
    <input type="text" name="admin.Email" value="@Model.admin.Email" /> @Html.ValidationMessageFor(x => x.admin.Email) <br />
    Enter phone:
    <input type="text" name="admin.Phone" value="@Model.admin.Phone" /> @Html.ValidationMessageFor(x => x.admin.Phone) <br />
    <input type="submit" value="Add Admin" />
</form>

