@model TravelApp.ViewModel.AdminView
@using TravelApp.Models;


@{
    ViewBag.Title = "adminPanel";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<link href="~/Css/adminPanel.css" rel="stylesheet" />

<h2>Admin Panel</h2>
<hr />
<h3>Hello @Model.admin.Username</h3>
<div class="contant">
    <div class="container">
        @if (ViewBag.AddedFlight != null)
        {
            <div class="text-success">@ViewBag.AddedFlight</div>
        }
        <h4 class="p-2">Flights</h4>
        <form action="@Url.Content("~/AddFlight")" method="post">
            <input type="submit" name="name" value="Add Flight" class="btn btn-primary" id="add-flight" />
        </form>
        <div class="row">
            @if (Model.flights != null)
            {
                foreach (Flight flight in Model.flights)
                {
                    <div class="col-sm-3 m-1">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">From @flight.FromCountry to @flight.ToCountry</h5>
                                <p class="card-text">Price: @flight.Price</p>
                                <p class="card-text">Number of seats: @flight.Seats </p>
                                <a href="@Url.Content("~/EditFlight/")@flight.Id" class="btn btn-primary">Edit</a>
                                <a href="@Url.Content("~/DeleteFlight/")@flight.Id" class="btn btn-primary">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <hr />
        <h4 class="p-2 p-3">Airplanes</h4>
        <form action="@Url.Content("~/AddPlane")" method="post">
            <input type="submit" name="name" value="Add Plane" class="btn btn-primary" id="add-flight" />
        </form>
        <div class="row">
            @if (Model.planes != null)
            {
                foreach (Plane plane in Model.planes)
                {
                    <div class="col-sm-3 m-1">
                        <div class="card p-1" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Id: @plane.PlaneId</h5>
                                <p class="card-text">Type: @plane.PlaneType</p>
                                <p class="card-text">Number of seats: @plane.NumSeats</p>
                                <a href="@Url.Content("~/EditPlane/")@plane.PlaneId" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

