@model TravelApp.ViewModel.UserView
@using TravelApp.Models;

@{
    ViewBag.Title = "MyFlights";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<div class="popular_flights">
    <div class="container">
        <h3>@Model.user.FirstName's Choosen Flights</h3>
        @if (ViewBag.noFlight != null)
        {
            <h5 class="text-danger">@ViewBag.noFlight</h5>
        }
        @if (Model.choosenFlights != null)
        {
            <div class="row">
                @foreach (List<Flight> flight in Model.choosenFlights)
                {
                    if (flight.Count < 2 && flight.Count > 0)
                    {
                        <div class="card m-3">
                            <div class="card-body">
                                <h5 class="card-title">From @flight[0].FromCountry to @flight[0].ToCountry</h5>
                                <p class="card-text">Date: @flight[0].Date</p>
                                <p class="card-text">Price: @flight[0].Price</p>
                                <p class="card-text">Avialibale seats: @flight[0].Seats</p>
                                <form action="@Url.Content("~/makePayment/")@flight[0].Id" method="post">
                                    <label for="tickets">Choose number of tickets</label>
                                    <input type="number" name="numOfTickets" value="" id="tickets" class="form-control-sm" min="0"/>
                                    @if (Model.user != null && Model.user.FirstName != null)
                                    {
                                        <input class="btn btn-primary" value="Buy a ticket" type="submit" />
                                    }
                                </form>
                            </div>
                        </div>
                    }
                    else if (flight.Count == 2)
                    {
                        <div class="card m-3">
                            <div class="row g-0">

                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">From @flight[0].FromCountry to @flight[0].ToCountry</h5>
                                        <p class="card-text">Date: @flight[0].Date</p>
                                        <p class="card-text">Price: @flight[0].Price</p>
                                        <p class="card-text">Avialibale seats: @flight[0].Seats</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">From @flight[1].FromCountry to @flight[1].ToCountry</h5>
                                        <p class="card-text">Date: @flight[1].Date</p>
                                        <p class="card-text">Price: @flight[1].Price</p>
                                        <p class="card-text">Avialibale seats: @flight[1].Seats</p>
                                        <form action="@Url.Content("~/makePaymentTwo/" + @flight[0].Id + "/" + flight[1].Id)" method="post">
                                            <label for="tickets">Choose number of tickets</label>
                                            <input type="number" name="numOfTickets" value="" id="tickets" class="form-control-sm" min="0"/>
                                            @if (Model.user != null && Model.user.FirstName != null)
                                            {
                                                <input class="btn btn-primary" value="Buy a ticket" type="submit" />
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        <hr />
    </div>
</div>

<div class="popular_flights">
    <div class="container">
        <h3>@Model.user.FirstName's Bought Flights</h3>
        @if (Model.boughtFlights != null)
        {
            <div class="row">
                @foreach (Order or in Model.boughtFlights)
                {
                    
                        <div class="card m-3">
                            <div class="card-body">
                                <h5 class="card-title">From @or.FromCountry to @or.ToCountry</h5>
                                <p class="card-text">Date: @or.Date</p>
                                <p class="card-text">Price: @or.Price</p>
                            </div>
                        </div>
                    
                }
            </div>
        }
        <hr />
    </div>
</div>