@model TravelApp.ViewModel.UserView
@using TravelApp.Models;

@{
    ViewBag.Title = "MyFlights";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<h2>MyFlights</h2>

<div class="popular_flights">
    <div class="container">
        @if (Model.choosenFlights != null)
        {
            <h3>All Flights</h3>
            <div class="row">
                @foreach (Flight flight in Model.choosenFlights)
                {
                    <div class="col-sm-3 m-1">
                        <div class="card p-3" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">From @flight.FromCountry to @flight.ToCountry</h5>
                                <p class="card-text">Date: @flight.Date</p>
                                <p class="card-text">Price: @flight.Price</p>
                                <p class="card-text">Avialibale seats: @flight.Seats</p>
                                @if (Model.user != null && Model.user.FirstName != null)
                                {
                                    <a href="@Url.Content("~/addUserFlight/")@flight.Id" class="btn btn-primary">Add a Flight</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <hr />
    </div>
</div>
